{% extends "layout.html" %}

{% block body_content %}
{% for car in cars %}
<div>
	<h3>{{ car.make }} {{ car.model }}</h3>
	<p><b>Colour: </b>{{ car.colour }}</p>
	<p><b>Date Manufactured: </b>{{ car.year }}</p>
	<p><b>Gearbox: </b>{{ car.gearbox }}</p>
	<p><b>Mileage: </b>{{ car.mileage }} miles</p>
	<p><b>Fuel Type: </b>{{ car.fuel_type }}</p>
	<p><b>Engine Size: </b>{{ car.engine_size }}cc</p>
	<p><b>Doors: </b>{{ car.doors }} </p>
	<p><b>Seats: </b>{{ car.seats }}</p>
	<p><b>Car ID: </b>{{ car.car_ID }}</p>
	<br>
	<p>Something not right? <a href="\update_car\{{ car.car_ID }}">Update this car's information</a> <p>
	<hr>
</div>
{% endfor %}
{% endblock %}
