[Unit]
Description=Car_Hire_System
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/sfia1/script/installation.sh

[Install]
WantedBy=multi-user.target